#box {
    padding: 0px 10%;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePicContainer img{
    width: 350px;
    height: 350px;
    padding-right: 10px;

}

.section {
    width:1000px;
}

.sectionName {
    margin-left: 0px;
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
}

#header {
    display: flex;
    border: 1px solid red;
    padding: 0 0px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.right {
    color:black;
    font-size: 18px;
}

a:visited {
    color: black;
    text-decoration: none;
  }


#navigationContainer {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navigationLink {
    padding: 0 20px;
}
#logo {
    font-size:20px;
    font-weight: 600;
}
#bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    padding-top:100px;
    width: 1000px;
}
.greetings {
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 54px;
    
    width: 500px;
    
}

section img {
    width: 430px;
    height: auto;
    margin: 75px;
}

/* case studies container styles */
#case {
    
    padding: 20px 0px;
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    
}

.caseBigText {
    font-size: 26px;
}
.caseSmallText {
    font-size: 14px;
    display: flex;
    align-items: center;
    /* width: 300px; */
    padding: 0 5px;
    height: auto;
 
}

.caseText {
    height: 100px;
    
    width: 100%;
    text-align: center;
    margin: 0 10px;
    /* margin: 0 auto; */
}

.case img {
    /* display: flex;
    align-items: space-between; */
    width: 300px;
    /* height: auto; */
    /* margin: 10px 10px; */
    margin-bottom: 10px;
   
}

.caseStudiesContent {
    display: flex;
    /* align-items: center;
    justify-content: center; (*/
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 60px;
   

    /* margin: 0 10px; */
}

.caseStudiesAll {
   width:100%;
   
   display: flex;
   justify-content: center;
}
#aboutMeName {
    margin-bottom:30px;
    text-align: right;
   
}
.aboutMeText {
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 14px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.aboutMePicContainer img {
    width: 150px;
    height: 150px;
    margin-right:20px;
    
}
#aboutMe{
}

.line {
    margin-top:50px;
    margin-bottom:50px;
}

#foodBlog {
    padding: 20px 30px;
    
}

.allFoodImages {

    padding: 20px 0px;
}

.foodPictures {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
    /* width: 1100px; */
    margin: auto;
}

.foodPictures img {
    
    height: 15.5%;
    width: 15.5%
    /* height: 180px;
    width: 180px; */
}
#email{
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 18px;
    
}
button {
    margin:10px;
    background-color: #4C7DFA;
    font-size:14px;
    font-family: poppins, sans-serif;
    font-style: normal;
    color: white;
    width: 194px;
    height: 36.88px;
    border-radius: 30px;
}
.socialMediaAll {
    display: flex;
    justify-content: space-between;
}
.socialMediaContent img{
  display:flex;
  justify-content: space-between;

}